<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allmsi.flow.dao.FlowNodeDealMapper">
	<resultMap id="BaseResultMap"
		type="com.allmsi.flow.model.FlowNodeDeal">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="nodeId" property="nodeId" jdbcType="VARCHAR" />
		<result column="nodeDealId" property="nodeDealId"
			jdbcType="VARCHAR" />
		<result column="nodeDealType" property="nodeDealType"
			jdbcType="VARCHAR" />
		<result column="del" property="del" jdbcType="BIT" />
	
		<result column="routeId" property="routeId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, nodeId, nodeDealId, nodeDealType
	</sql>
	<select id="listNodeDeals" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from im_tf_node_deal
		where nodeId = #{nodeId,jdbcType=VARCHAR} and del=0
	</select>
</mapper>