<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allmsi.flow.dao.FlowFieldPropertyMapper" >
  <resultMap id="BaseResultMap" type="com.allmsi.flow.model.FlowFieldProperty" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="propertyName" property="propertyName" jdbcType="VARCHAR" />
    <result column="del" property="del" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, propertyName, del
  </sql>
  <select id="getFlowFieldProperty" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from im_tf_base_field_property
    where id = #{id,jdbcType=VARCHAR} and del=0
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update im_tf_base_field_property set del=1
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>