<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allmsi.flow.dao.ModuleAuthMapper" >
  <resultMap id="BaseResultMap" type="com.allmsi.flow.model.FlowModuleAuth" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="flowId" property="flowId" jdbcType="VARCHAR" />
    <result column="authId" property="authId" jdbcType="VARCHAR" />
    <result column="authType" property="authType" jdbcType="VARCHAR" />
    <result column="del" property="del" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, flowId, authId, authType, del
  </sql>
  <select id="listModuleAuth" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from im_tf_module_auth
    where flowId = #{flowId,jdbcType=VARCHAR}
  </select>
</mapper>